name: Deploy AWS Lambda

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true

jobs:
  # the first thing is for us to build the repo
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up node.js 
        uses: actions/setup-node@v6
        with:
          node-version: '24.12.0'
      - run: npm install #this installs npm
      - run: npm run build
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: setup node.js
        uses: actions/setup-node@v6
        with: 
          node-version: '24.12.0'
      - run: npm install
      - run: npm test 

